.text-field {
    -fx-background-color: pink;
}
#griglia{
	-fx-background-color: yellow;
	-fx-padding: 10, 10, 10, 10;
	-fx-hgap:10;
	-fx-vgap:10;
}
#numeri{
	-fx-text-fill: red;
}
.button{
	-fx-width:200;
}